name: colornames
description: Get a name for given Color. This package contains hardcoded names for 2231 color values. For an input color, it finds a name in the list which has the closest match.
version: 0.1.0
homepage: https://github.com/thexaib/colornames

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
